* {
  box-sizing: border-box;
}

body {
  background-color: #4c6ca0;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

.container {
  margin: auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.flex {
  display: flex;
}

.header {
  display: flex;
  margin-top: 15px;
  margin-bottom: 8px;
  padding-left: 45px;
}

.display-header {
  display: flex;
}

.header img {
  /* margin-top: -10px; */
  height: 100px;
}

.header h1 {
  padding-top: 12px;
  text-shadow: 0px 0.75px 2.5px black;
}

input,
button {
  border: 1px solid #dedede;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 14px;
  padding: 8px 10px;
  margin: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

input[type='text'] {
  width: 370px;
}

input:focus {
  outline: 0;
}

.search-btn {
  cursor: pointer;
  border-left: 0;
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.random-btn {
  cursor: pointer;
  margin-left: 10px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.meals {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-top: 10px;
}

.meal {
  cursor: pointer;
  position: relative;
  height: 200px;
  width: 200px;
  text-align: center;
  border-radius: 2px;
}

.meal img {
  width: 100%;
  height: 100%;
  border: 1px #fff solid;
}

.meal-info {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s ease-in;
  opacity: 0;
}

.meal:hover .meal-info {
  opacity: 1;
}

.single-meal {
  margin: 30px auto;
  width: 70%;
}

.single-meal h1 {
  text-shadow: 0px 0.75px 2.5px black;
}

.single-meal img {
  width: 360px;
  margin: 15px;
  border: 1px #fff solid;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.single-meal-info {
  background-color: #fff;
  color: #151922;
  margin: 20px;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  border: 1px #f4f4f4 solid;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.single-meal p {
  margin: 10px;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

.single-meal h2 {
  text-shadow: 0px 0.75px 2.5px black;
}

.single-meal ul {
  padding-left: 0;
  list-style-type: none;
}

.single-meal ul li {
  border: 1px solid #ededed;
  background-color: #fff;
  color: #151922;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  margin: 0 5px;
}

.link {
  background-color: #ff0000;
  border: 1px solid #cdcdcd;
  font-size: 19px;
  font-weight: bold;
  padding: 6px;
  border-radius: 5px;
  margin: 20px;
  cursor: pointer;
  text-decoration: none;
  width: 25%;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.link:hover {
  background-color: #282828;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.link a {
  color: #fff;
  text-decoration: none;
}

.link a:hover {
  color: #ff0000;
}

a:visited {
  background-color: inherit;
}

@media (max-width: 800px) {
  .meals {
    grid-template-columns: repeat(3, 1fr);
  }
  .meal {
    height: 180px;
    width: 180px;
  }
}

@media (max-width: 700px) {
  .meals {
    grid-template-columns: repeat(2, 1fr);
  }
  .meal {
    height: 200px;
    width: 200px;
  }
  .link {
    width: 145px;
  }
}

@media (max-width: 500px) {
  input[type='text'] {
    width: 100%;
  }
  .header img {
    height: 90px;
  }
  .header h1 {
    padding-top: 6px;
  }
  .meals {
    grid-template-columns: 1fr;
  }
  .meal {
    height: 300px;
    width: 300px;
  }
}

@media (max-width: 400px) {
  input[type='text'] {
    width: 100%;
  }
  .header h1 {
    padding-top: 6px;
  }
  .meals {
    grid-template-columns: 1fr;
  }
  .meal {
    height: 300px;
    width: 300px;
  }
}

@media (max-width: 350px) {
  input[type='text'] {
    width: 100%;
  }
  .header h1 {
    padding-top: 10px;
    font-size: 28px;
  }
  .header img {
    height: 80px;
  }
  .meals {
    grid-template-columns: 1fr;
  }
  .meal {
    height: 300px;
    width: 300px;
  }
}

@media (max-width: 325px) {
  input[type='text'] {
    width: 100%;
  }
  .header h1 {
    padding-top: 10px;
    font-size: 24px;
  }
  .header img {
    height: 75px;
  }
  .meals {
    grid-template-columns: 1fr;
  }
  .meal {
    height: 300px;
    width: 300px;
  }
}
